<div class="container login">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <form class="card-body cardbody-color p-lg-5" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="text-center">
                        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
                            class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
                            alt="profile">
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                            formControlName="email" placeholder="Email">

                        <div class="mt-2"
                            *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                            <div *ngIf="loginForm.get('email')?.errors?.['required']" class="text-danger">Email is
                                required</div>
                            <div *ngIf="loginForm.get('email')?.errors?.['email']" class="text-danger">Invalid email
                                format</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" #password
                            (input)="checkPasswordValidation(password)" id="password" placeholder="Password"
                            formControlName="password">

                        <div class="mt-2"
                            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                            <div *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">Password is
                                required</div>

                        </div>

                        <div class="mt-2 text-danger" *ngIf="invalidPassword">Password did not match</div>
                    </div>
                    <div class="text-center"><button [disabled]="loginForm.invalid" type="submit"
                            class="btn btn-color px-5 mb-5 w-100">Login</button>
                    </div>
                    <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
                        Registered? <a href="#" class="text-dark fw-bold"> Create an
                            Account</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>